@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
	font-family: 'Montserrat', sans-serif;
}
body {
	background-color: #FCA4A6;
}
.section-padding {
	padding: 100px 0;
}


.navbar .getstarted {
	background-color: var(--first-color);
	margin-left: 30px;
	border-radius: 4px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	padding: .5rem 1rem;
	line-height: 2.3;
}
.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}
.navbar-light .navbar-brand {
	color: #000;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #000;
}
.navbar-light .navbar-nav .nav-link {
	color: #000;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #000;
}
.w-100 {
	height: 100vh;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background-color: #ffffff08 !important;
}
.portfolio .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.team .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.services .card-body i {
	font-size: 50px;
}
.team .card-body i {
	font-size: 20px;
}

@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}
	
	
	
	
	.about-text {
		padding-top: 50px;
	}
	.card {
		margin-bottom: 30px;
	}
}

#homebtn{margin-left: 19px;
	}
	.col-lg-4{flex: 0 0 auto;
		
		padding-top: 16vh;}
		.bg-light{background-color: #ffffff08 !important;}

		p{color: #fff;
			font-size: 1.2rem;
			font-weight: bolder;
			}
			h2{color:rgba(10, 46, 236, 0.53);font-size: 1.6rem;
				font-weight: bolder;}
				.nav-item{padding-left: 8px;}
/* 
				progress bar */
				
				.container{padding-top: 5vh;}
				
				.container .progress-container {
					margin-bottom: 25px;
				}
				
				.container .progress-container h4 {
					margin: 0 0 15px 15px;
					letter-spacing: .5px;
				}
				
				.container .progress-container .progress-bar {
					position: relative;
					width: 300px;
					height: 30px;
					border-radius: 30px;
					background-color: white;
					box-shadow: 3px 4px 5px 0px rgba(204 185 185 / .75);
				}
				
				.container .progress-container .progress-bar span {
				
					
					width: 0%;
					height: 100%;
					color: white;
					font-weight: 800;
					font-size: 18px;
					line-height: 1.7;
					text-align: center;
					border-radius: 30px;
					background: linear-gradient(90deg, rgba(76, 175, 80, 1) 50%, rgba(50, 222, 132, 1) 100%);
					transition: width 30s linear;
				}

				/* progreess bar */

				#benefits{width: 36vw;}



				/* rotating */
				.wrapper .home__title2{  padding-left: 54px;
					font-size: 25px;
					padding-bottom: 20px;}
				  .content{
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					padding: 50px 100px 0;
				  }
				  .text{
					width: 50%;
					padding-right: 150px;
				  }
				  .text p{
					font-size: 2rem;
					line-height: 46px;
					color: #fff;
				  }
				  .text p span{
					color: #f09053;
				  }
				  .text a{
					position: relative;
					display: inline-block;
					font-size: 18px;
					text-transform: uppercase;
					color: #fff;
					text-decoration: none;
					padding: 18px 30px;
					letter-spacing: 2px;
					font-weight: 500;
					margin-top: 60px;
				  }
				  .text a:before{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 60px;
					height: 60px;
					border-radius: 50px;
					background-color: var(--first-color);
					z-index: -1;
					transition: all ease 0.5s;
				  }
				  .text a:hover:before{
					width: 100%;
				  }
				  
				  .img{
					position: relative;
					width: 500px;
					height: 500px;
					background: radial-gradient(520px, #ffffff8c, transparent 50%);
					margin-top: -50px;
				  }
				  .email-icon{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				  }
				  .social-icons{
					height: 30%;
					animation: rotation 60s linear infinite;
				  }
				  @keyframes rotation {
					100%{
						transform: rotate(360deg);
					}
				  }
				  .social-icons img{
					position: absolute;
				  }
				  .social-icons img:nth-child(1){
					top: 0;
					left: 42%;
				  }
				  .social-icons img:nth-child(2){
					top: 25%;
					right: 0;
				  }
				  .social-icons img:nth-child(3){
					top: 70%;
					left: 70%;
				  }
				  .social-icons img:nth-child(4){
					top: 25%;
					left: 0;
				  }
				  .social-icons img:nth-child(5){
					top: 70%;
					left: 10%;
				  }

				/* rotating */

				@media only screen and (max-width: 370px){
					.col-lg-4{width: 0px;}
					.social-icons{}
					#human{height: 332px;}
					
				}
				.container{justify-content: space-evenly;}